body {
  bacround-color: #FFFFE0; /" warna kuning cerah "/
  font-family: arial, sans-serif; /* jenis huruf yang bersih dan mudah dibaca */
color: #000000; /*warna teks utama (hitam)
}

.kartu-profil {
  width: 300px;
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  padding: 20px;
  backround-color:white;
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0,1);
  text-align: center; 
}


.kartu-profil img {
  widht: 150px;
  border-radius: 50%;
